.sust-one-to-another {
    height: 100%;
    display: flex;
    gap: 20px;
    align-self: center !important;
    align-items: center !important;
}

.sust-title{
    font-size: 40px;
    text-transform: uppercase;
    width: 100%;
    color: #00B033;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0 0 0 20px;
}

.sust-two-vectors {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-content: flex-end;
}

.sust-two-vector {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sust-container {
    height: 750px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

.sust-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.one{
    width: 145px;
    height: 205px;
}

.two{
    width: 134px;
}

.sust-meio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.sust-meio-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100%;
    width: 180px;
    padding-top: 85px;
}

.sust-item-text {
    display: flex;
    height: 70px;
    flex-direction: column;
    align-items: flex-start;
    place-self: end;
}

.sust-item-text span:nth-child(1) {
    font-size: 16px;
    place-content: end;
    font-weight: bold;
    text-transform: uppercase;
    color: #F0EAD7;
}

.sust-item-text span:nth-child(2) {
    font-size: 12px;
    color: #F0EAD7;
}

.hidden{
    display: none;
}

.vector2_1{
    width: 50%;
}

.vector1_2{
    width: 50%;
}

@media (max-width: 1279px) {
    .sust-title{
        font-size: 24px;
        padding: 20px 0;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(0, 176, 51);
        text-align: center;
    }
    .sust-container {
        height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sust-one-to-another {
        height: unset;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sust-meio {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sust-meio-itens {
        margin-bottom: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: unset;
        width: 100%;
        justify-content: space-between;
    }
    
    .vector1 {
        transform: rotate(90deg);
        padding: 50px 0px;
    }

    .gone{
        display: none !important;
    }

    .hidden{
        display: flex;
    }

    .sust-two-vectors {
        padding-top: 100px;
    }
    .sust-item {
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .sust-item-text {
        align-items: center;
        justify-content: center;
    }

    .sust-item-text span:nth-child(1) {
        justify-content: center;
        text-align: center;
        font-size: 12px;
    }
    .sust-item-text span:nth-child(2) {
        justify-content: center;
        text-align: center;
        font-size: 10px;
    }
}