.menuLateralBlock {
  width: 100%;
  min-height: 30px;
}

.menu-lateral-container {
  position: relative;
  display: flex;
  width: fit-content;
  height: 100%;
  flex-direction: column;
  padding-left: 3%;
  margin-right: 30px;
  margin-bottom: 15px;
  float: left;
}

.menu-lateral-title {
  margin: 0;
}

.menu-lateral-list {
  display: flex;
  width: 280px;
  height: 100%;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #cccccc;
}

.menu-lateral-list li {
  padding: 10px;
  list-style: none;
}

.menu-lateral-container .menu-lateral-list a {
  color: #000 !important;
}

.menu-lateral-list i {
  margin-right: 10px;
  color: #000;
}

.menu-lateral-edit {
  width: 100%;
  margin: 0 !important;
  color: #666;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
}

.menu-lateral-item-active {
  color: #999999;
  font-weight: bold;
}

.menu-lateral-item-active i {
  color: #999999;
}

.menu-lateral-link {
  color: #000;
  text-decoration: none;
}

.menu-lateral-link-active {
  border: none;
  background: none;
  color: #999999;
  cursor: default;
  pointer-events: none;
}

.menu-lateral-dropdown {
  display: none;
}

@media (max-width: 992px) {
  .menu-lateral-caixa {
    display: none;
  }

  .menu-lateral-dropdown {
    display: block;
  }
}

.menu-lateral-dropdown-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
