@import 'variables';
@import './components/Blocks/carrossel.scss';
@import 'root';

*,
*:before,
*:after {
  box-sizing: border-box;
}

#page-document .blocks-group-wrapper > p {
  max-width: var(--default-container-width);
}

.ui.container.tags {
  max-width: var(--default-container-width) !important;
}
